In [6]:
import pandas as pd

In [11]:
#series in pandas

data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
#on series you can access values and index. But why is because of indexing 
#and values. In an array you cat change the values

In [17]:
print(series.values)
print(series.index)

[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)

In [18]:
# Create a series of 5 tempreatures
# Print the max and min
# Change the index to be days of the week instead of numbers

In [24]:
data1 = [23,13,44,22,19]
temps = pd.Series(data1)
print(temps.max())
print(temps.min())
temps.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(temps)

44
13
Monday       23
Tuesday      13
Wednesday    44
Thursday     22
Friday       19
dtype: int64

In [29]:
data3 = {
    'Name': ['Ollie', 'Sam', 'Luke', 'Liam'],
    'Age': [32,24,43,12],
'City': ['Reading', 'London', 'North', 'London']
}

df = pd.DataFrame(data3)
print(df)

    Name  Age     City
0  Ollie   32  Reading
1    Sam   24   London
2   Luke   43    North
3   Liam   12   London

In [30]:
# Create a DataFrame of 3 products with name, price, and quantity, 
# each should have 3 values in
# Add a new column for “total value” (price × quantity).

In [32]:
data4 = {
    'Name': ['Apple', 'Orange', 'Pineapple', 'Banana'],
    'Price': [1.5,1.9,3,.5],
'Quantity': [4,2,7,6]
}
df = pd.DataFrame(data4)
print(df)
df['Total Value'] = df['Price'] * df['Quantity']
print(df)

        Name  Price  Quantiity
0      Apple    1.5          4
1     Orange    1.9          2
2  Pineapple    3.0          7
3     Banana    0.5          6
        Name  Price  Quantiity  Total Value
0      Apple    1.5          4          6.0
1     Orange    1.9          2          3.8
2  Pineapple    3.0          7         21.0
3     Banana    0.5          6          3.0